<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Ayantika Sarkar</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <nav class="dropdown">
          <button>Locations</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Locations</a>
            <a routerLink="add" class="nav-link">Add New Location</a>
            <a routerLink="update/:id" class="nav-link">Update Location</a>
            <a routerLink="find/:id" class="nav-link">Get Location By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Location</a>
          </div>
        </nav>
      </li> 
      <li class="nav-item">
        <nav class="dropdown">
          <button>Discounts</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Discounts</a>
            <a routerLink="add" class="nav-link">Add New Discount</a>
            <a routerLink="update/:id" class="nav-link">Update Discount</a>
            <a routerLink="find/:id" class="nav-link">Get Discount By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Discount</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Employee</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Employees</a>
            <a routerLink="add" class="nav-link">Add New Employee</a>
            <a routerLink="update/:id" class="nav-link">Update Employee</a>
            <a routerLink="find/:id" class="nav-link">Get Employee By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Employee</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Feedback</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Feedbacks</a>
            <a routerLink="add" class="nav-link">Add New Feedback</a>
            <a routerLink="update/:id" class="nav-link">Update Feedback</a>
            <a routerLink="find/:id" class="nav-link">Get Feedback By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Feedback</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Guest</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Guests</a>
            <a routerLink="add" class="nav-link">Add New Guest</a>
            <a routerLink="update/:id" class="nav-link">Update Guest</a>
            <a routerLink="find/:id" class="nav-link">Get Guest By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Guest</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Hotel</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Hotels</a>
            <a routerLink="add" class="nav-link">Add New Hotel</a>
            <a routerLink="update/:id" class="nav-link">Update Hotel</a>
            <a routerLink="find/:id" class="nav-link">Get Hotel By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Hotel</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Items</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Items</a>
            <a routerLink="add" class="nav-link">Add New Item</a>
            <a routerLink="update/:id" class="nav-link">Update Item</a>
            <a routerLink="find/:id" class="nav-link">Get Item By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Item</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Reservation</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Reservations</a>
            <a routerLink="add" class="nav-link">Add New Reservation</a>
            <a routerLink="update/:id" class="nav-link">Update Reservation</a>
            <a routerLink="find/:id" class="nav-link">Get Reservation By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Reservation</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Rooms</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Rooms</a>
            <a routerLink="add" class="nav-link">Add New Room</a>
            <a routerLink="update/:id" class="nav-link">Update Room</a>
            <a routerLink="find/:id" class="nav-link">Get Room By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Room</a>
          </div>
        </nav>
      </li>
      <li class="nav-item">
        <nav class="dropdown">
          <button>Checkout</button>
          <div class="dropdown-content">
            <a routerLink="alllocations" class="nav-link">All Checkouts</a>
            <a routerLink="add" class="nav-link">Add New Checkout</a>
            <a routerLink="update/:id" class="nav-link">Update Checkout</a>
            <a routerLink="find/:id" class="nav-link">Get Checkout By Id</a>
            <a routerLink="remove/:id" class="nav-link">Delete Checkout</a>
          </div>
        </nav>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- To update the heading of the page opening-->