.app {
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/6080eb2ba2428f14701c1409/0x0.jpg?format=jpg&width=1200");
    height: 753px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}