<div class="list-row">
  <div class="col-md-6">
    <h4>Locations List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let l of location let i = index" [class.active]="i == currentIndex"
        (click)="setActiveLocation(l, i)">
        {{ l.locationName }}
      </li>
    </ul>
    <a class="btn btn-success" routerLink="/add-location">
      Add Location
    </a>
    <div *ngIf="currentLocation">
      <a class="btn btn-warning" routerLink="/location/{{ currentLocation.locationId }}"> Delete</a>
    </div>
  </div>
</div>