<!-- <div>
    <div *ngIf="currentHotel.hotelId" class="edit-form">
      <form>
        <div class="form-group">
          <label for="hotelName">Hotel Name</label>
          <input type="text" class="form-control" id="hotelName" [(ngModel)]="currentHotel.hotelName"
            name="hotelName" />
        </div>
        <div class="form-group">
          <label for="location">Location Name</label>
          <input type="text" class="form-control" id="location" [(ngModel)]="currentHotel.location"
            name="location" />
        </div>
        <div class="form-group">
          <label for="totalRooms">Total Rooms</label>
          <input type="text" class="form-control" id="totalRooms" [(ngModel)]="currentHotel.totalRooms" name="totalRooms" />
        </div>
        <div class="form-group">
          <label for="roomsAvailable">Rooms Available</label>
          <input type="text" class="form-control" id="roomsAvailable" [(ngModel)]="currentHotel.roomsAvailable" name="roomsAvailable" />
        </div>
        <div *ngIf="currentHotel.gymAvailable">
            <label for="hotelItems">Gym charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
        <div *ngIf="currentHotel.swimmingPoolAvailable">
            <label for="hotelItems">Swimming Pool charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
        <div *ngIf="currentHotel.parkingZoneAvailable">
            <label for="hotelItems">Parking Zone charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
        <div *ngIf="currentHotel.carRentAvailable">
            <label for="hotelItems">Car Rent charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
        <div *ngIf="currentHotel.gameZoneAvailable">
            <label for="hotelItems">Game Zone charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
        <div *ngIf="currentHotel.laundryAvailable">
            <label for="hotelItems">Laundry charges</label>
            <input type="text" class="form-control" id="hotelItems" [(ngModel)]="currentHotel.hotelItems.charges"
                name="hotelItems" />
        </div>
      </form>
      <a class="btn btn-danger" (click)="deleteHotel()">
        Delete
      </a>
      <a class="btn btn-success" routerLink="/hotel">
        All Hotels
      </a>
      <a class="btn btn-warning" (click)="updateHotel()">
        Update
      </a>
    </div>
  </div> -->