<div>
  <div *ngIf="currentLocation.locationId" class="edit-form">
    <form>
      <div class="form-group">
        <label for="locationName">Location Name</label>
        <input type="text" class="form-control" id="locationName" [(ngModel)]="currentLocation.locationName"
          name="locationName" />
      </div>
    </form>
    <a class="btn btn-danger" (click)="deleteLocation()">
      Delete
    </a>
    <a class="btn btn-success" routerLink="/location">
      All Locations
    </a>
  </div>
</div>